:root{
  --mainTextColor: #264653;                      
  --terracota-600: #e76f51;      
  --terracota-600-hover: #e14c27;                     
  --blue-400: #f4a261;                           
  --gradient: linear-gradient(135deg, #e76f51, #f4a261); 
  --blue-dark: #1b3a4b;                          
  --bg-light: rgba(234, 241, 212, 0.15);         
  --bg-dark: rgba(38, 70, 83, 0.9);              
  --glow: 0 0 8px rgba(231, 111, 81, 0.5);        

  /* fonts*/
  --font-family-poppins: "Poppins", sans-serif;

  /* Font weights (normal) */
  --font-poppins-thin:    100;
  --font-poppins-extralight: 200;
  --font-poppins-light:   300;
  --font-poppins-regular: 400;
  --font-poppins-medium:  500;
  --font-poppins-semibold:600;
  --font-poppins-bold:    700;
  --font-poppins-extrabold: 800;
  --font-poppins-black:   900;

  /* Font styles */
  --font-style-normal: normal;
  --font-style-italic: italic;
}